- hosts: 127.0.0.1
  connection: local
  vars_files:
    - ~/aoscx_lab/vars/global.yml
  tasks:
    - name: Create Logical Segments
      block:
        - name: Create Logical Segments With Router Attachments
          loop: "{{ nsx.segments.list }}"
          when: "item.t1 is defined"
          nsxt_policy_segment:
            hostname: "{{ nsx.cluster.hostname }}"
            username: "{{ nsx.cluster.username }}"
            password: "{{ nsx.cluster.password }}"
            validate_certs: False
            display_name: "{{ item.name }}"
            transport_zone_display_name: "{{ nsx.segments.tz }}"
            tier1_display_name: "{{ item.t1 }}"
            subnets:
              - gateway_address: "{{ item.ip }}"
            tags:
              - tag: "aoscx"
                scope: "lab"
            state: present
        - name: Create Logical Segments With VLAN Trunking
          loop: "{{ nsx.segments.list }}"
          when: "item.vlans is defined"
          nsxt_policy_segment:
            hostname: "{{ nsx.cluster.hostname }}"
            username: "{{ nsx.cluster.username }}"
            password: "{{ nsx.cluster.password }}"
            validate_certs: False
            display_name: "{{ item.name }}"
            transport_zone_display_name: "{{ nsx.segments.tz }}"
            vlan_ids: "{{ item.vlans }}"
            tags:
              - tag: "aoscx"
                scope: "lab"
            state: present
        - name: Create Remaining Logical Segments
          loop: "{{ nsx.segments.list }}"
          when: "not (item.t1 is defined) and not (item.vlans is defined)"
          nsxt_policy_segment:
            hostname: "{{ nsx.cluster.hostname }}"
            username: "{{ nsx.cluster.username }}"
            password: "{{ nsx.cluster.password }}"
            validate_certs: False
            display_name: "{{ item.name }}"
            transport_zone_display_name: "{{ nsx.segments.tz }}"
            tags:
              - tag: "aoscx"
                scope: "lab"
            state: present
    - name: Get Logical Segment Information
      block:
        - name: Get IP Discovery Segment Profile Info
          uri:
            method: GET
            url: "https://{{ nsx.cluster.hostname }}/policy/api/v1/infra/ip-discovery-profiles/{{ nsx.segments.segment_profiles.ip }}"
            user: "{{ nsx.cluster.username }}"
            password: "{{ nsx.cluster.password }}"
            body: ""
            body_format: json
            force_basic_auth: yes
            validate_certs: no
            status_code: 200
          register: ip_prof_output
        - name: Get MAC Discovery Segment Profile Info
          uri:
            method: GET
            url: "https://{{ nsx.cluster.hostname }}/policy/api/v1/infra/mac-discovery-profiles/{{ nsx.segments.segment_profiles.mac }}"
            user: "{{ nsx.cluster.username }}"
            password: "{{ nsx.cluster.password }}"
            body: ""
            body_format: json
            force_basic_auth: yes
            validate_certs: no
            status_code: 200
          register: mac_prof_output
        - name: Get QOS Segment Profile Info
          uri:
            method: GET
            url: "https://{{ nsx.cluster.hostname }}/policy/api/v1/infra/qos-profiles/{{ nsx.segments.segment_profiles.qos }}"
            user: "{{ nsx.cluster.username }}"
            password: "{{ nsx.cluster.password }}"
            body: ""
            body_format: json
            force_basic_auth: yes
            validate_certs: no
            status_code: 200
          register: qos_prof_output
        - name: Get Seg Security Segment Profile Info
          uri:
            method: GET
            url: "https://{{ nsx.cluster.hostname }}/policy/api/v1/infra/segment-security-profiles/{{ nsx.segments.segment_profiles.sec }}"
            user: "{{ nsx.cluster.username }}"
            password: "{{ nsx.cluster.password }}"
            body: ""
            body_format: json
            force_basic_auth: yes
            validate_certs: no
            status_code: 200
          register: sec_prof_output
        - name: Get SpoofGuard Segment Profile Info
          uri:
            method: GET
            url: "https://{{ nsx.cluster.hostname }}/policy/api/v1/infra/spoofguard-profiles/{{ nsx.segments.segment_profiles.spf }}"
            user: "{{ nsx.cluster.username }}"
            password: "{{ nsx.cluster.password }}"
            body: ""
            body_format: json
            force_basic_auth: yes
            validate_certs: no
            status_code: 200
          register: spf_prof_output
        - name: Set Segment Profile Path Facts
          vars:
            jquery: "json.path"
          set_fact:
            ip_path: "{{ ip_prof_output | json_query(jquery) }}"
            mac_path: "{{ mac_prof_output | json_query(jquery) }}"
            qos_path: "{{ qos_prof_output | json_query(jquery) }}"
            sec_path: "{{ sec_prof_output | json_query(jquery) }}"
            spf_path: "{{ spf_prof_output | json_query(jquery) }}"
    - name: Assign Segment Profiles to Logical Segments
      block:
        - name: Create LS Segment Security Profile Binding Map
          loop: "{{ nsx.segments.list }}"
          uri:
            method: PATCH
            url: "https://{{ nsx.cluster.hostname }}/policy/api/v1/infra/segments/{{ item.name }}/segment-security-profile-binding-maps/sec_profile_bind_map"
            user: "{{ nsx.cluster.username }}"
            password: "{{ nsx.cluster.password }}"
            body: "{
              'resource_type' : 'SegmentSecurityProfileBindingMap',
              'display_name' : 'sec_profile_bind_map',
              'segment_security_profile_path' : '{{ sec_path }}',
              'spoofguard_profile_path' : '{{ spf_path }}'
              }"
            body_format: json
            force_basic_auth: yes
            validate_certs: no
            status_code: 200
        - name: Create LS QoS Profile Binding Map
          loop: "{{ nsx.segments.list }}"
          uri:
            method: PATCH
            url: "https://{{ nsx.cluster.hostname }}/policy/api/v1/infra/segments/{{ item.name }}/segment-qos-profile-binding-maps/qos_profile_bind_map"
            user: "{{ nsx.cluster.username }}"
            password: "{{ nsx.cluster.password }}"
            body: "{
              'resource_type' : 'SegmentQoSProfileBindingMap',
              'display_name' : 'qos_profile_bind_map',
              'qos_profile_path' : '{{ qos_path }}'
              }"
            body_format: json
            force_basic_auth: yes
            validate_certs: no
            status_code: 200
        - name: Create LS Discovery Profile Binding Map
          loop: "{{ nsx.segments.list }}"
          uri:
            method: PATCH
            url: "https://{{ nsx.cluster.hostname }}/policy/api/v1/infra/segments/{{ item.name }}/segment-discovery-profile-binding-maps/disc_profile_bind_map"
            user: "{{ nsx.cluster.username }}"
            password: "{{ nsx.cluster.password }}"
            body: "{
              'resource_type' : 'SegmentDiscoveryProfileBindingMap',
              'display_name' : 'disc_profile_bind_map',
              'ip_discovery_profile_path' : '{{ ip_path }}',
              'mac_discovery_profile_path' : '{{ mac_path }}'
              }"
            body_format: json
            force_basic_auth: yes
            validate_certs: no
            status_code: 200
