- hosts: 127.0.0.1
  connection: local
  vars_files:
    - ~/aoscx_lab/vars/global.yml
  tasks:
    - name: Determine OVA File Absolute Path
      block:
        - name: Get File Directory Absolute Path
          shell:
            cmd: "pwd"
            chdir: "{{ switch.ova.path }}"
          register: abs_path_output
        - name: Set Fact - OVA File Absolute Path
          set_fact:
            abs_path: "{{ abs_path_output.stdout + '/' + switch.ova.name }}"
    - name: Deploy Switches from OVA
      loop: "{{ switch.list }}"
      community.vmware.vmware_deploy_ovf:
        hostname: '{{ vcenter.hostname }}'
        username: '{{ vcenter.username }}'
        password: '{{ vcenter.password }}'
        validate_certs: no
        datacenter: "{{ switch.ova.datacenter }}"
        cluster: "{{ switch.ova.cluster }}"
        datastore: "{{ switch.ova.datastore }}"
        folder: "{{ switch.ova.datacenter + '/' + switch.ova.folder }}"
        name: "{{ item.name }}"
        networks: "{u'Null':u'{{ switch.ova.default_network }}'}"
        power_on: no
        ovf: "{{ abs_path }}"
      async: 100
      poll: 0
      register: ova_install_output
    - name: Confirm Job Completion
      loop: "{{ ova_install_output.results }}"
      async_status:
        jid: "{{ item.ansible_job_id }}"
        mode: status
      retries: 120
      delay: 10
      register: async_loop_jobs
      until: async_loop_jobs.finished